
        <!-- Custom Fonts -->
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">

        <!-- FontAwesome icons -->
        <link rel="stylesheet" href="https://use.fontawesome.com/74dfc6cf47.css">

        <!-- Core BootStrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <!-- Material Design CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/static/css/bootstrap-material-design.min.css">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/static/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/static/css/thickbox.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/static/css/projects.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/static/css/main.css">
        <link rel="stylesheet" href="{{ site.baseurl }}/static/css/loader.css">

        <!-- some overrides -->
        <style>
         .header-panel.shadow-z-2 {
             background-color: {{ site.theme_color }};
         }
         body .container .jumbotron-primary, body .container .well-primary, body .container-fluid .jumbotron-primary, body .container-fluid .well-primary {
             background-color: {{ site.theme_color }};
         }
         .menu ul li a:hover, .menu ul li a:focus, li.current-menu-item > a {
             background-color: {{ site.theme_highlight_color }};
         }
         a, a:focus, a:hover {
             color: {{ site.theme_color }};
         }

         /* closing #2 */
         @media (max-width: 500px) {
             h4.list-group-item-heading {
                 margin-bottom: 0;
             }
             div.least-content {
                 position: static !important;
                 margin-bottom: 5px !important;
             }
         }
        </style>

        <script type="text/javascript">
          //loadingImage is relative to project dir
          var tb_pathToImage = "{{ site.baseurl }}/static/img/loadingAnimation.gif";
        </script>
