<div class="header-panel shadow-z-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12">
                <div class="row-picture">
                    <img id="about" class="logo-img" src="{{ site.logo }}" height="75px" width="75px">
                </div>
                <div class="row-details">
                    <h4 class="list-group-item-heading">{{ site.author }}</h4>
                    <p class="list-group-item-text">{{ site.about }}</p>
                    {% include social_links.html %}
                </div>
                <div class="navbar-header pull-right">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-2x fa-bars"></i>
                    </button>
                </div>
            </div>
            <div class="col-md-9 col-sm-8 col-xs-12">
                <h2 class="blog-title-pro">{{ page.title }}</h2>
                {% if page.author %}
                <p class="info">By 
                    <!--<a href="https://github.com/{{ page.author }}" target="_blank">-->
                    {{ page.author }}</p>
                {% endif %}
                <p class="info">
                    {% if page.date %}
                    <span class="time">{{ page.date | date_to_string }}</span>
                    {% endif %}
                    {% if page.categories.size > 0 %}
                    <span class="categories">
                        &raquo;
                        {% for category in page.categories %}
                        <a href="{{ site.baseurl }}/category/{{ category }}">{{ category }}</a>
                        {% if forloop.last == false %}, {% endif %}
                        {% endfor %}
                    </span>
                    <br>
                    {% endif %}

                    {% if page.content and page.layout == "post" %}
                        {% assign words = page.content | number_of_words %}
                        {% if words < 360 %}
                            1 minute read
                        {% else %}
                            {{ words | divided_by:180 }} minutes read
                        {% endif %}
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
	<div align="right" id="fb-root"></div>
             <script>(function(d, s, id) {
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) return;
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=652249844976841";
             fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));</script>
	     <svg height="0" width="0">
             <filter id="fb-filter">
             <feColorMatrix type="hueRotate" values="125"/>
             </filter>
             </svg>
             <style>
             .fb-like, .fb-send, .fb-share-button {
             -webkit-filter: url(#fb-filter); 
             filter: url(#fb-filter);
             }
             </style>
	<div align="right" class="fb-like" data-href="https://www.facebook.com/nyblenews/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
</div>
