<div id="preloader">
  <div id="status">
     <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
    <br>
    <font color="white"><B>Nybles</B></font>
  </div>
  <div style="
      top: 500;
      left: 500;
      position: absolute;
      margin:auto;
      margin left: 150;
      z-index: 1;
      visibility: show;">
 <font color="white"><p>Taking Small Bytes Out Of Information<p></font>
</div>
 
</div>
