    <nav class="menu">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    {% include navigation.html %}
    </div>
          <div class="navbar-default hidden-xs">
     <div class="fb-page" 
      data-href="https://www.facebook.com/nyblenews/"  
      data-small-header="false"  
      data-hide-cover="false"    
      data-show-facepile="true"  
      data-show-posts="false">
 </div>
 
 <div id="fb-root"></div>
 
 <style>
 
   .fb-page, .fb-page:before, .fb-page:after {
     border: 1px solid #ccc;
   }
 
   .fb-page:before, .fb-page:after {
     content: "";
     position: absolute;
     bottom: -3px;
     left: 2px;
     right: 2px;
     height: 1px;
     border-top: none
   }
   
   .fb-page:after {
     left: 4px;
     right: 4px;
     bottom: -5px;
     box-shadow: 0 0 2px #ccc 
   }
 </style>
 
 <script>
   (function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
 </script>
         </div>
     
      
    </nav>
