<div class="social-icons">
	{% for link in site.data.social %}
        <a class="icon" target="_blank" href="{{ link.link }}"><i class="fa {{ link.icon }}"></i></a>
    {% endfor %}
	<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fnyblenews%2F&width=118&layout=button_count&action=like&size=small&show_faces=true&share=true&height=46&appId=652249844976841" width="118" height="46" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
</div>
