<div class="social-icons">
	{% for link in site.data.social %}
        <a class="icon" target="_blank" href="{{ link.link }}"><i class="fa {{ link.icon }}"></i></a>
    {% endfor %}
             <div id="fb-root"></div>
             <script>(function(d, s, id) {
             var js, fjs = d.getElementsByTagName(s)[0];
             if (d.getElementById(id)) return;
             js = d.createElement(s); js.id = id;
             js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8&appId=652249844976841";
             fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));</script>
	     <svg height="0" width="0">
             <filter id="fb-filter">
             <feColorMatrix type="hueRotate" values="125"/>
             </filter>
             </svg>
             <style>
             .fb-like, .fb-send, .fb-share-button {
             -webkit-filter: url(#fb-filter); 
             filter: url(#fb-filter);
             }
             </style>
	<font align="right"><div class="fb-like" data-href="https://www.facebook.com/nyblenews/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div></font>
</div>
